%div.comment
  %div.head
    = comment.head
    = comment.formated_date
    №
    = comment.number
  %div.pic= link_to( (image_tag comment.picture_url(:thumb).to_s), comment.picture_url) if comment.picture?
  %div.text= parser(comment.body)
  =# link_to 'Delete this comment', [comment.node, comment], :confirm => 'Are you sure?', :method => :delete
  %div.foot
    %hr
