%div.thread
  %div.head
    = node.head
    = node.formated_date
    №
    = node.number
  %div.pic= link_to( image_tag( node.picture_url(:thumb).to_s), node.picture_url) if node.picture?
  %div.text
    = parser(node.body)
  %div.foot
    Total comments:
    = node.comments.size
    = link_to 'Reply', node
    = #link_to 'Delete node', node, :confirm => 'Are you sure?', :method => :delete

- $last_comments = 3
= render node.comments.limit $last_comments
%hr
