
=form_for ([@board, @board.nodes.build]) do |f|
  - @board.nodes.build.errors.full_messages.each do |msg|
    = msg
  %table.postform
    %tr
      %td
        = f.label :head
        = f.text_field :head, :class =>'headinput'
    %tr
      %td
        = f.label :body
        = f.text_area :body, :class => 'textarea'
    %tr
      %td
        = f.label :picture
        = f.file_field :picture
        = f.hidden_field :picture_cache
    %tr
      %td
        =f.submit 'Save'
