%p#notice= notice



%h1
  %center= @board.name
%br

New node:

= render :partial => 'shared/form', :locals => {:zone => @board, :content => @board.nodes}

%h2 Nodes:

= render @nodes #reverse в контроллере

= will_paginate @nodes

= link_to 'Back', boards_path
