!!!
%html
  %head
    %title IfritEngine
    = stylesheet_link_tag    "application", :debug =>true
    = javascript_include_tag "application", :debug =>true
    = csrf_meta_tag
  %body
    %table
      %td
        %tr
          %br
          = render :partial => 'layouts/menu'
        %tr
          =yield
          %br
        %tr
          = render :partial => 'layouts/footer'


