!!!
%html
  %head
    %title Imageboard
    = stylesheet_link_tag "scaffolds"
    = stylesheet_link_tag "global"
    = stylesheet_link_tag "nodes"
    = stylesheet_link_tag "comments"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    =yield


